<h1> Battle </h1>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box-like Border</title>
  <!-- Link to your external CSS file within the "css" folder --><link rel="stylesheet" href="../../stylesheets/application.css">

<link rel="stylesheets" href="app/assets/stylesheets/battle.css">

</head>
<body>

  <!-- Create a div with the specified class -->
  <div class="box-border">
    <p>This is a box-like border.</p>
  </div>

</body>
</html>
