.box-border {
    border: 2px solid #000; /* 2px solid black border */
    background-color: white; /* pure white background
    padding: 20px; /* Add padding for better visibility */
    text-align: center; /* Center text within the box */
    font-size: 24px; /* Set the font size to 24 pixels */
    width: 1000px; /* Set the width to 60% of the container */
    height: 700px; /* Set the height to 60% of the container */
    margin: auto; /* Center the box horizontally */
    position: absolute; /* Positioning method */
    top: 50%; /* Move the box down by 50% of the container's height */
    left: 50%; /* Move the box right by 50% of the container's width */
    transform: translate(-50%, -50%); /* Adjust for centering */

    background: url("./cave_battle.jpg") no-repeat;
    background-size: cover;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  
  .pokemon-info img {
    max-width: 100%;
    border: none;
    background: transparent;
  }
  
  .pokemon-info p {
    margin: 5px 0;
  }
  
  #pokemon1-info {
    /* Add specific styles for Ditto, if needed */
    margin-top: 400px;
    margin-right: 400px;
  }
  
  #pokemon1-info img {
    /* Mirror the image horizontally for Ditto */
    transform: scaleX(-1);
  }
  
  #pokemon2-info {
    /* Add specific styles for Pikachu, if needed */
    margin-top: -350px;
    margin-right: -500px;
  }
  